<% provide(:body_class_name,'cart')%>
<% provide(:title,'购物车')%>
	<%= stylesheet_link_tag  "innerpage" %>
	<%= stylesheet_link_tag  "owl.carousel" %>
	<%= stylesheet_link_tag  "owl.theme" %>
	
		<!-- 面包屑导航开始 -->
		<div class="breadcrumb-container">
			<div class="container">
				<div class="relative">
					<ul class="bc unstyled clearfix">
						<li><a href="/">首页</a></li>
						<li class="active">购物车</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- // 面包屑导航结束 -->
		
		<!--    正文开始 -->
		<main id="main-content" role="main">
				
			<section class="section">
				<div class="container">
					
					<table class="tbl-cart">
						<thead>
							<tr>
								<th>商品名称</th>
								<th style="width: 15%;">价格</th>
								<th style="width: 15%;">数量</th>
								<th class="hidden-xs" style="width: 15%;">合计</th>
								<th class="hidden-xs" style="width: 10%;"></th>
							</tr>
						</thead>
						<tbody>
							<tr class="hide empty-cart">
								<td colspan="5">
									<a href="/goods">您的购物车中没有商品，请先去挑选心爱的商品吧！</a>.
								</td>
							</tr>
							
						</tbody>
					</table>
					<!-- 
					<div class="pull-left coupon m-b">
						<div class="input-group">
							<label for="apply-coupon" class="placeholder">Enter Your Coupon Code</label>
							<input type="text" id="apply-coupon" name="coupon" class="form-control" required />
							<span class="input-group-btn">
								<button class="btn btn-primary">Apply Coupon</button>
							</span>
						</div>
					</div>
					-->
					<div class="shopcart-total pull-right clearfix">
						<!-- 
						<div class="cart-subtotal text-xs m-b-sm clearfix">
							<span class="pull-left">Sub Total:</span>
							<span class="pull-right">￥ 0.00</span>
						</div>
						-->
						<div class="cart-total text-bold m-b-lg clearfix">
							<span class="pull-left">共计:</span>
							<span class="pull-right">￥ 0.00</span>
						</div>
						<div class="text-center">
							<a class="btn btn-round btn-default uppercase" href="checkout.html">去结算</a>
						</div>
					</div>
					
				</div>
			</section>
			

			<!-- RELATED PRODUCTS -->
			<section class="section visible-items-4">
				<div class="container">
					<div class="row">
						<header class="section-header clearfix col-sm-offset-3 col-sm-6">
							<h3 class="section-title">热卖推荐</h3>
							
						</header>
						
						<div class="clearfix"></div>
						
						<!-- BEGIN CAROUSEL -->
						<div id="featured-products" class="add-cart" data-product=".product" data-thumbnail=".entry-media .thumb" data-title=".entry-title > a" data-url=".entry-title > a" data-price=".entry-price > .price">
						
							<div class="owl-controls clickable top">
								<div class="owl-buttons">
									<div class="owl-prev"><i class="iconfont-angle-left"></i></div>
									<div class="owl-next"><i class="iconfont-angle-right"></i></div>
								</div>
							</div>
							
							<div class="owl-carousel owl-theme" data-visible-items="4" data-navigation="true" data-lazyload="true">
								
								<% Product.all.each do |product|%>
								<div class="product" data-product-id="<%= product.id%>">
									<div class="entry-media">
										<img data-src="http://<%= product.thumbnail.url("378x505")%>" alt="" class="lazyOwl thumb" />
										<div class="hover">
											<a href="product.html" class="entry-url"></a>
											<ul class="icons unstyled">
												<li>
													<div class="circle ribbon ribbon-sale">热卖</div>
												</li>
												<li>
													<a href="http://<%= product.thumbnail.url("378x505")%>" class="circle" data-toggle="lightbox"><i class="iconfont-search"></i></a>
												</li>
												<li>
													<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
												</li>
											</ul>
											<div class="rate-bar">
												<input type="range" value="4.5" step="0.5" id="backing1" />
												<div class="rateit" data-rateit-backingfld="#backing1" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
											</div>
										</div>
									</div>
									<div class="entry-main">
										<h5 class="entry-title">
											<a href="#"><%= product.name%></a>
										</h5>
										<div class="entry-price">
											<s class="entry-discount">￥ <%= product.cost_price %></s>
											<strong class="accent-color price">￥<%= product.promotion_price %></strong>
										</div>
										<!--
										<div class="entry-links clearfix">
											<a href="#" class="pull-left m-r">+ Add to Wishlist</a>
											<a href="#" class="pull-right">+ Add to Compare</a>
										</div>
										-->
									</div>
								</div>
								<% end%>
								
								
							
							</div>
								
						</div>
						<!-- // END CAROUSEL -->
						
					</div>
				</div>
			</section>
			<!-- // RELATED PRODUCTS -->
			
		</main>
		<!-- // 正文结束 -->
<!-- Particular Page Javascripts -->
	<%= javascript_include_tag "owl.carousel" %>
	<%= javascript_include_tag "products" %>
<!-- // Particular Page Javascripts -->