<div class="am-panel am-panel-primary" style="border:0;">
   <div class="am-panel-hd" align="center">
    <h3 class="am-panel-title">名酒折扣</h3>
  </div>

<% @products.each do |product| %>
		<% cache product do%>
			<div class="am-panel-bd">

				<div class="am-g" onclick="goto('/product/index?id=<%=product.id%>')" >
					<div class="am-u-sm-4 am-u-lg-4">
						<span class="am-show-md-down">
                          <img width="80" height="80" src="http://<%=product.thumbnail.url("378x505")%>"/>
                        </span>
						<span class="am-hide-md-down">
                          <img width="80" height="80" src="http://<%=product.thumbnail.url("378x505")%>"/>
                        </span>
					</div>
					<div class="am-u-sm-8 am-u-lg-8">
						<span class="am-show-md-down">
                          <div style="font-size: 1.5rem;"><strong><%=product.name%></strong></div>
                          <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
                            <%#=product.title%>
                            <br>
                             <span style="font-size:1.5rem;color:#DD514C;">￥<%= product.cost_price%></span>
         										 <span style="font-size:1.2rem;"><del>￥<%= product.promotion_price%></del></span>
                           </div>
                        </span>
						<span class="am-hide-md-down">
                          <div style="font-size: 1.6rem;"><strong><%=product.name%></strong></div>
                          <div style="-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;font-size:1rem;">
                             <%#=product.title%>
                             <br>
                             <span style="font-size:1.5rem;color:#DD514C;">￥<%= product.cost_price%></span>
         										 <span style="font-size:1.2rem;"><del>￥<%= product.promotion_price%></del></span>
                            </div>
                        </span>
					</div>
				</div>
			</div>
			<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
			<%end%>
				<%end%>
</div>