<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品管理</strong> / <small>商品发布</small> </div>
    </div>
<div class="am-panel am-panel-default">
  <div class="am-panel-bd">
<p>
  <strong>名称:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>标题:</strong>
  <%= @product.title %>
</p>
<p>
  <strong>封面图片:</strong>
   <img src="http://<%=@product.thumbnail.url("378x505")%>"  />
</p>
<p>
  <strong>原价:</strong>
  <%= @product.promotion_price %>
</p>
<p>
  <strong>折扣价:</strong>
  <%= @product.cost_price %>
</p>
<p>
  <strong>描述:</strong><br>
   <%= raw(@product.description) %>
</p>



<%= link_to '编辑', '#',:onclick => "goto(\"/products/#{@product.id}/edit\")" %> |
<%= link_to '返回', "/products" %>
</div>
</div>